# {{ ansible_managed }}

# What ports, IPs and protocols we listen for
Port {{ sshd_port }}

# Use these options to restrict which interfaces/protocols sshd will bind to
ListenAddress {{ sshd_address }}

Protocol 2

# HostKeys for protocol version 2
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

{% if ansible_distribution_version != "18.04" %}
# Privilege Separation is turned on for security
UsePrivilegeSeparation yes

# Lifetime and size of ephemeral version 1 server key
KeyRegenerationInterval 3600
ServerKeyBits 1024

{% endif %}
# Logging
SyslogFacility AUTH
LogLevel INFO

# Authentication:
LoginGraceTime 120
PermitRootLogin no
StrictModes yes

{% if ansible_distribution_version != "18.04" %}
RSAAuthentication yes
{% endif %}
PubkeyAuthentication yes

#AuthorizedKeysFile     %h/.ssh/authorized_keys

# Don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts yes

{% if ansible_distribution_version != "18.04" %}
# For this to work you will also need host keys in /etc/ssh_known_hosts
RhostsRSAAuthentication no
{% endif %}

# similar for protocol version 2
HostbasedAuthentication no

# Uncomment if you don't trust ~/.ssh/known_hosts for RhostsRSAAuthentication
#IgnoreUserKnownHosts yes

# To enable empty passwords, change to yes (NOT RECOMMENDED)
PermitEmptyPasswords no

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication no

# Change to no to disable tunnelled clear text passwords
# Diffiation from standard: PasswordAuthentication yes
PasswordAuthentication no

AllowTcpForwarding yes

# Diffiation from standard: X11Forwarding yes
X11Forwarding no
X11DisplayOffset 10
PrintMotd no
PrintLastLog yes
#UseLogin no

#MaxStartups 10:30:60
#Banner /etc/issue.net

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

Subsystem sftp /usr/lib/openssh/sftp-server

UsePAM yes

{% if ansible_distribution_version != "18.04" %}
KexAlgorithms curve25519-sha256@libssh.org
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com
{% endif %}

# Ensure SSH PermitUserEnvironment is disabled
# Permitting users the ability to set environment variables through the SSH daemon
# could potentially allow users to bypass security controls (e.g. setting an execution path that has ssh executing trojan'd programs)
PermitUserEnvironment no

# Limits the number of multiplexed ssh sessions you can have over a single ssh session
MaxSessions 10

# Ensure SSH Idle Timeout Interval is configured
ClientAliveCountMax 0

# Session will be terminated after 300 seconds = 5 minutes (idle)
ClientAliveInterval 300
